@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}
.logo_letters {
  width: 300px;
  height: 80px;
}
.photo_background {
  background-image: url(../images/door.jpg);
  background-size: cover;
  opacity: 0.8;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #000000;
}

.page {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;

  &__title {
    color: #ffffff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #268ab894;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }
}

  .filter {
    &__label {
      font-weight: bold;
      margin-left: 10px;
      margin-right: 10px;
    }
    &__select {
      margin-left: 0.1rem;
      padding: 0.25rem 0;
      margin: 0.5rem;
      width: 15rem;
      font-weight: bold;
      border: 1px solid #7cbb00;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.25s;

      &:hover {
        border: 1px solid #ddd;
      }
    }
  }


.quotes {
  &__item {
    position: relative;
    width: 30rem;
    margin: 1rem 1rem 1rem 0;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.781);
  }

  &__quote {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  &__character {
    margin-left: 10px;
    padding-bottom: 0.5rem;
    color: #7cbb00;
    font-size: 1.25rem;
  }
}

.new-quote {
  
  &__form {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 1rem;
    padding-top: 20px;
    padding-bottom: 0.5rem;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__label {
    display: block;
    margin-bottom: 40px;


    &-text {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
      font-weight: bold;

    }
  }

  &__text {
    padding: 0.15rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #666;
    outline: none;
    
  }

  &__btn {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-bottom: 40px;
    border: none;
    background-color: #268ab894;;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #38a853;
    }
  }
}
